# Rust
debug/
target/
bin/
pkg/
**/*.rs.bk
Cargo.lock
wasm-pack.log

# Coverage
lcov.info
codecov.json

# IntelliJ IDEA
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# VS Code
.vscode/*
!.vscode/extensions.json

# Misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
