# Rust
debug/
target/
Cargo.lock

# Node
node_modules/

# IntelliJ IDEA
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
