[package]
name = "auto-palette"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.25.1"
rand = "0.8.5"
rand_distr = "0.4.3"

[dev-dependencies]
rstest = "0.18.2"
