name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  style:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Check .rs files
        run: cargo fmt --all -- --check

      - name: Install taplo-cli
        run: cargo install taplo-cli --locked

      - name: Check .toml files
        run: taplo check

  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Lint with clippy
        run: cargo clippy -- -D warnings

      - name: Install cargo-audit
        run: cargo install cargo-audit --locked

      - name: Check for security vulnerabilities
        run: cargo audit

  build:
    needs:
      - style
      - check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build library in release mode
        run: cargo build --lib --release

  test:
    name: "test on ${{ matrix.os }}"
    needs: build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest, cargo-llvm-cov

      - name: Run unit tests
        run: cargo nextest run --tests --release

      - name: Run unit tests with coverage
        if: matrix.os == 'ubuntu-latest'
        run: cargo llvm-cov nextest --tests --release --codecov --output-path codecov.json

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v4.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true
