name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  contents: read

env:
  NODE_VERSION: 22.x
  PNPM_VERSION: 10.11.0
  CARGO_TERM_COLOR: always

jobs:
  style:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check .rs files
        run: cargo +nightly fmt --all -- --check

      - name: Install cargo-binstall
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall

      - name: Install taplo-cli
        run: cargo binstall --no-confirm --no-discover-github-token --force taplo-cli

      - name: Check .toml files
        run: taplo fmt --check --diff

  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy

      - name: Lint with clippy
        run: cargo clippy -- -D warnings

      - name: Install cargo-udeps and cargo-audit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-udeps, cargo-audit

      - name: Check for unused dependencies
        run: cargo +nightly udeps --all-features --all-targets

      - name: Check for security vulnerabilities
        run: cargo audit

  test-lib:
    name: "test auto-palette crate on ${{ matrix.os }}"
    needs:
      - style
      - check
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-nextest and cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest, cargo-llvm-cov

      - name: Run unit tests
        run: cargo nextest run --tests --all-features --package auto-palette --retries 2

      - name: Run examples
        run: |
          cargo run --example simple
          cargo run --example algorithm
          cargo run --example theme

      - name: Run doc tests
        if: matrix.os == 'ubuntu-latest'
        run: cargo test --doc --all-features --package auto-palette

      - name: Run unit tests with coverage
        if: matrix.os == 'ubuntu-latest'
        run: cargo llvm-cov nextest --all-features --package auto-palette --codecov --output-path codecov.json

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true

  test-cli:
    name: "test auto-palette-cli crate on ${{ matrix.os }}"
    needs:
      - style
      - check
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Run unit tests
        run: cargo nextest run --tests --all-features --package auto-palette-cli

  test-wasm:
    name: "test auto-palette-wasm crate"
    needs:
      - style
      - check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Add wasm target
        run: rustup target add wasm32-unknown-unknown

      - name: Install cargo-binstall
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall

      - name: Install wasm-bindgen-cli
        run: cargo binstall wasm-bindgen-cli --no-confirm

      - name: Run unit tests
        run: cargo test --tests --package auto-palette-wasm --target wasm32-unknown-unknown

  build-lib:
    needs:
      - test-lib
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build library in release mode
        run: cargo build --package auto-palette --lib --release

  build-cli:
    needs:
      - test-cli
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build CLI in release mode
        run: cargo build --package auto-palette-cli --bins --release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: auto-palette
          path: target/release/auto-palette-cli

  build-wasm:
    needs:
      - test-wasm
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pnpm with ${{ env.PNPM_VERSION }} version
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js with ${{ env.NODE_VERSION }} version
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the wasm package
        working-directory: ./packages/auto-palette-wasm
        run: pnpm build

      - name: Run the unit tests and e2e tests
        working-directory: ./packages/auto-palette-wasm
        run: pnpm test:e2e:install && pnpm test
